.section_{
    border: 1px solid #ccc;
    min-height: 50px;
    margin-bottom: 10px;
    border-radius: 5px;
    white-space: pre-wrap;
}

.notebook_instance{
 
        border-radius: 12px;
        box-shadow: 0px 2px 8px 0px rgba(50, 50, 50, 0.5);
        height: auto;
        width: auto;
        padding-top: 10px;
        padding-bottom: 5px;
        padding-left: 10px;
        padding-right: 10px;
        margin-left: 10px;
        margin-right: 10px;
        background-color: #f3f3f3;
        color: black;
        cursor: pointer;
        min-width: 82px;
        text-align: center;
        margin-bottom: 10px;
      
}

.add_notebook_button{
    cursor: pointer;
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 40px;
    background-color: black; 
    color: white; 
    border-radius: 50%; 
    width: 25px; 
    height: 25px; 
    display: flex; 
    justify-content: center; 
    align-items: center;
}

img {
    width: 400px;
}

.tab {
    display: inline-block;
    width: 20px;
    height: 1px;
    margin-left: 20px;
  }